*{
	box-sizing: border-box;
}
.home-right-bar {
	top: 300px;
	right: 0;
	position: fixed;
	z-index: 500;
}

.home-right-bar a {
	height: 50px;
	width: 70px;
	color: #757575;
	font-size: 12px;
}

.home-right-bar a:hover {
	text-decoration: none;

}

.home-right-bar li {
	height: 60px;
	width: 70px;
	border: 1px solid #e0e0e0;
	text-align: center;
	cursor: pointer;
}

.home-right-bar li:hover {
	color: #FFFFFF;
	background-color: #ff6700;
}

.home-right-bar img {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}

.home-right-bar .personInfo {
	height: 20px;
	width: 60px;
	line-height: 20px;
	margin-left: 8px;
}

.home-right-bar .border-none {
	border-bottom: none;
}